<footer>

    <a href="#" class="footer_button_a">
        <div class="footer_button">
            Back to top
        </div>

    </a>

    <div class="footer_container">
        <div class="footer_list_container">

            <ul>
                <li>
                    <div>Get to Know Us</div>
                </li>
                <li>
                    Careers
                </li>
                <li>
                    Blog
                </li>
                <li>
                    About Amazon
                </li>
                <li>
                    Inverstor Relations
                </li>
                <li>
                    Amazon Devices
                </li>
                <li>
                    Amazon Tours
                </li>
            </ul>
        </div>
        <div class="footer_white_space">

        </div>
        <div class="footer_list_container">

            <ul>
                <li>
                    <div>Make Money with Us</div>
                </li>
                <li>
                    Sell products on Amazon
                </li>
                <li>
                    Sell apps on Amazon
                </li>
                <li>
                    Become an Affiliate
                </li>
                <li>
                    Advertise Your Products

                </li>
                <li>
                    Self-Publish with Us
                </li>
                <li>
                    Host an Amazon Hub
                </li>
                <li>
                    › See More Make Money with Us
                </li>
            </ul>
        </div>
        <div class="footer_white_space">

        </div>
        <div class="footer_list_container">
            <ul>
                <li>
                    <div>Amazon Payment Products</div>
                </li>
                <li>
                    Amazon Business Card
                </li>
                <li>
                    Shop with Points
                </li>
                <li>
                    Reload Your Balance
                </li>
                <li>
                    Amazon Currency Converter
                </li>
            </ul>
        </div>
        <div class="footer_white_space">

        </div>
        <div class="footer_list_container">
            <ul>
                <li>
                    <div>Let Us Help You</div>
                </li>
                <li>
                    Amazon and COVID-19
                </li>
                <li>
                    Your Account
                </li>
                <li>
                    Your Orders
                </li>
                <li>
                    Shipping Rates & <br>
                    Policies
                </li>
                <li>
                    Returns & <br>
                    Replacements
                </li>
                <li>
                    Manage Your <br>
                    Content and Devices
                </li>
                <li>
                    Amazon Assistant
                </li>
                <li>
                    Help
                </li>
            </ul>
        </div>
    </div>
    <hr class="hr1">
    <div class="footer_container">
        <div class="nav_bar_footer">
            <div>
                <img src="/images/amazon_logo_footer.png" alt="amazon_logo">

            </div>
            <ul>

                <li>
                    English
                </li>
                <li>
                    $ USD - U.S. Dollar
                </li>
                <li>
                    United States
                </li>
            </ul>

        </div>
    </div>
</footer>