
<div class="card_content">
    <span><b><%= category.name %></b></h3>
        <a href="/card/<%=category._id%> "> 
        <img class="responsive" src="<%= category.img %>" alt="shop by category" >
    </a>
    <a class="card_content_link" href="/card/?category=<%=category._id%>">Shop now</a>
</div>

    
  