/* GLOBAL START */
*{
    
    margin: 0;
    padding: 0;
}
html,body{
    margin: 0;
    height: 100%;
    background-color: #EAEDED;
}
span{
    font-size: 12px;
}

h5{
    font-size: 14px;
}

/* MOBILE */
@media screen and (max-width: 425px){
    .footer_container{
        flex-direction: column;
    }
}
/* MOBILE */

/* CONTAINER START */
.main{
    justify-content: center;
    margin-left: auto;
    margin-right:  auto;
    max-width: 1500px;
   
}
.cover_image > img{
    -webkit-mask-image:linear-gradient(to top, transparent, mistyrose);
    width: 100%;
    height: auto;
    margin-bottom: -22%;
    margin-top: 0;
}

.home_page{
    width: 100%;
    margin-left: auto;
    margin-right:  auto; 
}


.home_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-right: 20px;
}

.card{
    flex:1;
    margin-left: 20px; 
    border: 10px;
    z-index: 1;
    border-radius: 0%;
    
}
.responsive{
    width: 100%;
    height: auto;
}
.card_content {
    margin: 20px 20px 20px 15px;
}

.card_content> span {
    font-size: 20px;
}

.card_content_link {
    text-decoration:none;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
    color: red;
    font-size: 15px;
}

.home_row_container{
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.home_row_horizontal{
    padding: 10px 20px;
}
.home_row_horizontal >span{
    font-size: 21px;
}

.home_row_horizontal > a{
    text-decoration: none;
    font-size: 14px;
    padding-left: 15px;
}

.home_row_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home_row_images> img{
    width: max-content;
}

@media screen and (min-width:768px){
    .home_row_images{
        justify-content: space-between;
    }
}
@media screen and (max-width:425px){
    .home_row{
        flex-direction: column;
    }
}

/* CONTAINER END */



/*imported*/
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
  }
  .input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #cddc39;
  }
  .input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
  }